<footer class="mt-5" style="background: #172337; color:azure">

    <div class="container d-flex justify-content-between pt-5 pb-3">
        <div>
            <h6 class="heading">ABOUT</h6>
            <ul class="lu">
                <li><a class="link" href="">Contact Us</a></li>
                <li><a class="link" href="">About Us</a></li>
                <li><a class="link" href="">Careers</a></li>
                <li><a class="link" href="">Our Stories</a></li>
                <li><a class="link" href="">Press</a></li>
            </ul>
        </div>
        <div>
            <h6 class="heading">HELP</h6>
            <ul class="lu">
                <li><a class="link" href="">Payments</a></li>
                <li><a class="link" href="">Shipping</a></li>
                <li><a class="link" href="">Cancellations & Returns</a></li>
                <li><a class="link" href="">FAQ</a></li>
            </ul>
        </div>
        <div>
            <h6 class="heading">POLICY</h6>
            <ul class="lu">
                <li><a class="link" href="">Return Policy</a></li>
                <li><a class="link" href="">Terms of Use</a></li>
                <li><a class="link" href="">Security</a></li>
                <li><a class="link" href="">Stories</a></li>
                <li><a class="link" href="">Privacy</a></li>
            </ul>
        </div>
        <div>
            <h6 class="heading">SOCIAL</h6>
            <ul class="lu">
                <li><a class="link" href=""><i class="bi bi-facebook"></i> Facebook</a></li>
                <li><a class="link" href=""><i class="bi bi-twitter"></i> Twitter</a></li>
                <li><a class="link" href=""><i class="bi bi-youtube"></i> Youtube</a></li>
                <li><a class="link" href=""><i class="bi bi-instagram"></i> Instagram</a></li>
                <li><a class="link" href=""><i class="bi bi-linkedin"></i> Linkedin</a></li>
            </ul>
        </div>
    </div>

    <div class="pt-3 pb-3 border-top border-secondary">
        <p style="color: white; text-align: center;margin-bottom: 0;font-weight: lighter;">Copyright <span
                style="font-size: larger;font-weight: bold;">&copy;</span> 2022 - Grocy.ga</p>
    </div>
</footer>

<style>
    .link {
        text-decoration: none;
        color: azure;
        font-size: small;
    }

    .lu {
        list-style: none;
        padding-left: 0;
    }

    .heading {
        font-weight: lighter;
        color: darkgray;
    }
</style>