<nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm sticky-top">
    <div class="container">
        <a href="/" class="navbar-brand fw-bolder fs-3" style="color: green" href="#">GROCY</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


            </ul>

            <div class="dropdown">
                <a href="/wishlist" class="btn p-0 border-0">
                    <i class="bi bi-bag-heart" style="font-size: 30px;"></i>
                </a>
                <a href="/cart" class="btn p-0 border-0 mx-5">
                    <i class="bi bi-cart4" style="font-size: 30px;"></i>
                </a>

                {{#if userName}}
                <a class="btn btn-success rounded-0 dropdown-toggle" style="width: 100px" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">{{this.userName}}</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user-profile/personal">Profile</a></li>
                    <li><a class="dropdown-item" href="/user-orders">Orders</a></li>
                    {{!-- <li><a class="dropdown-item" href="/user-coupons">Coupons</a></li> --}}
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
                {{else}}
                <a class="btn btn-success rounded-0 btn-sm" style="width: 100px" href="/login">Login </a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>