<div class="mt-4">
    <div class="border rounded-0 d-flex">
        <div class="p-2">
            <i class="bi bi-person-circle" style="font-size: 50px;"></i>
        </div>
        <div class="p-2 pt-3">
            <p class="mb-0">hello,</p>
            <h3>{{userName}}</h3>
        </div>
    </div>

    <div class="border mt-3">
        <div class="nav flex-column text-center">
            <a href="/user-profile/personal" class="nav-link btn btn-outline-light rounded-0">Personal Details</a>
            <a href="/user-profile/address" class="nav-link btn btn-outline-light rounded-0">Address Details</a>
            <a href="/user-profile/coupon" class="nav-link btn btn-outline-light rounded-0">My Coupons</a>
            <a href="/user-profile/wallet" class="nav-link btn btn-outline-light rounded-0">My Wallet</a>
            <a href="#" class="nav-link btn btn-outline-light rounded-0">Settings</a>
        </div>
    </div>
</div>