<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8 col-md-3">

            {{>user-profile-menu}}
        </div>
        <div class="col-12 col-md-6">
            <h4>Wallet</h4>
            <div class="card">
                <h1 class="text-center">{{amount}}</h1>
            </div>
        </div>
    </div>
</div>