<div class="container">
    <div class="row">
        {{>user-profile-menu}}
        <div class="col-3 mt-4">
            <h4>Wallet</h4>
            <div class="card">
                <h1 class="text-center">{{amount}}</h1>
            </div>
        </div>
    </div>
</div>